*{
    padding: 0px;
    margin: 0px;
}
.FormDatos{
    width: 350px;
    padding: 50px;
    margin: auto;
    background-color: rgb(44, 165, 44);
    border-radius: 20px;
    box-shadow: -5px -5px rgb(98, 100, 100);
    margin-top: 70px;
    border: 10px;
}
.Titulo{
    font-size: 30px;
    color: rgb(60, 11, 151);
}
.inputs{
    padding: 8px;
    width: 365px;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: rgb(192, 192, 192);
    border: 10px rgb(0, 0, 0);
}

.subir{
    width: 63px;
    padding: 2PX;
    border: 10px;
    margin-left: 146px;
    border-radius: 4px;
    margin-top: 20px;
    background-color: rgb(rgb(98, 100,192)
    b0rder 10px;
 

    